<html>
<head>
  <title>DataRobot - Aggregated Error Evaluation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  .chooser {
      background-color: #34311e;
      color: #fff;
      padding: 40px 40px;
      font-family: sans-serif;
  }
  .canvas {
      padding: 40px 40px;
      font-family: sans-serif;
  }
  .controlpanel {
      background-color: #e4e4e8;
      padding: 20px 20px;
      font-family: sans-serif;
  }
  td { 
      padding: 10px;
  }
  th { 
      padding: 10px;
  }
  </style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"> Aggregated Error Evaluation </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">ABOUT</a></li>
      </ul>
    </div>
  </div>
</nav>

